<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>ตารางข้อมูล</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header style="background-color: white;" class="site-page-header" (nzBack)="onBack()" nzBackIcon
    nzTitle="รายการตารางข้อมูล" nzSubtitle="รายการข้อมูลที่ส่งเข้าระบบแล้ว">
  </nz-page-header>
  <div class="inner-content">
    <nz-tabset nzType="card" (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab [nzTitle]="personTitleTemplate">
        <ng-template #personTitleTemplate>
          ทะเบียนผู้ป่วย (PERSON)
        </ng-template>

        <div nz-row style="padding-bottom: 10px;">
          <div nz-col nzSpan="8">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
              <input type="text" [(ngModel)]="personQuery" nz-input placeholder="ระบุเลขบัตรประชาชน, HN" />
            </nz-input-group>
            <ng-template #suffixButton>
              <nz-button-group>
                <button (click)="searchPerson()" nz-button nzType="primary" nzSearch>ค้นหา</button>
                <button (click)="refreshPerson()" nz-button>ทั้งหมด</button>
              </nz-button-group>
            </ng-template>
          </div>
        </div>
        <nz-table #personTable [nzData]="personDataset" [nzSize]="'small'" nzShowPagination="false"
          [nzLoading]="loading" [nzPageSize]="personPageSize">
          <thead>
            <tr>
              <th>CID</th>
              <th>HN</th>
              <th>TITLE</th>
              <th>FNAME</th>
              <th>LNAME</th>
              <th>SEX</th>
              <th>BIRTH</th>
              <th>TYPEAREA</th>
              <th>D_UPDATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of personTable.data">
              <td>{{ data.cid }}</td>
              <td>{{ data.hn }}</td>
              <td>{{ data.title }}</td>
              <td>{{ data.fname }}</td>
              <td>{{ data.lname }}</td>
              <td>{{ data.sex }}</td>
              <td>{{ data.birth }}</td>
              <td>{{ data.typearea }}</td>
              <td>{{ data.d_update }}</td>
            </tr>
          </tbody>
        </nz-table>
        <br>
        <nz-pagination [nzPageIndex]="personPageIndex" [nzTotal]="personTotal" nzShowSizeChanger
          [nzPageSize]="personPageSize" [nzPageSizeOptions]="[20,50,100,500]"
          (nzPageIndexChange)="onPersonPageIndexChange($event)" (nzPageSizeChange)="onPersonPageSizeChange($event)"
          [nzShowTotal]="totalTemplate" style="float: right;"></nz-pagination>
      </nz-tab>
      <nz-tab [nzTitle]="opdTitleTemplate">
        <ng-template #opdTitleTemplate>
          ผู้ป่วยนอก (OPD)
        </ng-template>
        <div nz-row style="padding-bottom: 10px;">
          <div nz-col nzSpan="12">
            วันที่ให้บริการ
            <nz-date-picker [(ngModel)]="dateServ" (ngModelChange)="onChangeDateServ($event)"></nz-date-picker>
            <button nz-button nzType="primary" (click)="searchOpd()">แสดงข้อมูล</button>
          </div>
        </div>
        <nz-table #opdTable [nzData]="opdDataset" [nzSize]="'small'" nzShowPagination="false" [nzLoading]="loading"
          [nzPageSize]="opdPageSize">
          <thead>
            <tr>
              <th>HN</th>
              <th>CLINIC</th>
              <th>DATE_SERV</th>
              <th>TIME_SERV</th>
              <th>SEQ</th>
              <th>CHIEFCOMP</th>
              <th>SBP/DBP</th>
              <th>TYPEIN</th>
              <th>INS_TYPE</th>
              <th>D_UPDATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of opdTable.data">
              <td>{{ data.hn }}</td>
              <td>{{ data.clinic }}</td>
              <td>{{ data.date_serv }}</td>
              <td>{{ data.time_serv }}</td>
              <td>{{ data.seq }}</td>
              <td>{{ data.chiefcomp }}</td>
              <td>{{ data.sbp }}/{{data.dbp}}</td>
              <td>{{ data.typein }}</td>
              <td>{{ data.ins_type }}</td>
              <td>{{ data.d_update }}</td>
            </tr>
          </tbody>
        </nz-table>
        <br>
        <nz-pagination [nzPageIndex]="opdPageIndex" [nzTotal]="opdTotal" nzShowSizeChanger [nzPageSize]="opdPageSize"
          [nzPageSizeOptions]="[20,50,100,500]" (nzPageIndexChange)="onOpdPageIndexChange($event)"
          (nzPageSizeChange)="onOpdPageSizeChange($event)" [nzShowTotal]="totalTemplate"
          style="float: right;"></nz-pagination>

      </nz-tab>
      <nz-tab [nzTitle]="ipdTitleTemplate">
        <ng-template #ipdTitleTemplate>
          ผู้ป่วยใน (IPD)
        </ng-template>
        <div nz-row style="padding-bottom: 10px;">
          <div nz-col nzSpan="12">
            วันที่จำหน่าย
            <nz-date-picker [(ngModel)]="datedsc" (ngModelChange)="onChangeDateDischarge($event)"></nz-date-picker>
            <button nz-button nzType="primary" (click)="searchOpd()">แสดงข้อมูล</button>
          </div>
        </div>
        <nz-table #ipdTable [nzData]="ipdDataset" [nzSize]="'small'" nzShowPagination="false" [nzLoading]="loading"
          [nzPageSize]="ipdPageSize">
          <thead>
            <tr>
              <th>HN</th>
              <th>AN</th>
              <th>DATE_ADM</th>
              <th>TIME_ADM</th>
              <th>DATE_DSC</th>
              <th>TIME_DSC</th>
              <th>DISCHS</th>
              <th>DISCHT</th>
              <th>DEPT</th>
              <th>D_UPDATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ipdTable.data">
              <td>{{ data.hn }}</td>
              <td>{{ data.an }}</td>
              <td>{{ data.dateadm }}</td>
              <td>{{ data.timeadm }}</td>
              <td>{{ data.datedsc }}</td>
              <td>{{ data.timedsc }}</td>
              <td>{{ data.dischs }}</td>
              <td>{{ data.discht }}</td>
              <td>{{ data.dept }}</td>
              <td>{{ data.d_update }}</td>
            </tr>
          </tbody>
        </nz-table>
        <br>
        <nz-pagination [nzPageIndex]="ipdPageIndex" [nzTotal]="ipdTotal" nzShowSizeChanger [nzPageSize]="ipdPageSize"
          [nzPageSizeOptions]="[20,50,100,500]" (nzPageIndexChange)="onIpdPageIndexChange($event)"
          (nzPageSizeChange)="onIpdPageSizeChange($event)" [nzShowTotal]="totalTemplate"
          style="float: right;"></nz-pagination>
      </nz-tab>
    </nz-tabset>

  </div>
</nz-content>

<ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>