<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>ตารางข้อมูล</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header style="background-color: white;" class="site-page-header" (nzBack)="onBack()" nzBackIcon
    nzTitle="รายการตารางข้อมูล" nzSubtitle="รายการข้อมูลที่ส่งเข้าระบบแล้ว">
  </nz-page-header>
  <div class="inner-content">
    <nz-tabset>
      <nz-tab nzTitle="ทะเบียนผู้ป่วย">Content of Tab Pane 1</nz-tab>
      <nz-tab nzTitle="ผู้ป่วยนอก (OPD)">Content of Tab Pane 2</nz-tab>
      <nz-tab nzTitle="ผู้ป่วยใน (IPD)">Content of Tab Pane 3</nz-tab>
    </nz-tabset>

  </div>
</nz-content>