<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มรายการใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="code">รหัส</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสที่ใช้ในหน่วยบริการ">
          <input nz-input formControlName="code" name="code" type="code" id="code">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">ชื่อกลุ่ม</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อกลุ่ม">
          <input formControlName="name" nz-input id="name" type="text" name="name" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>