<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มผู้ใช้งานใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="hospcode">รหัสหน่วยบริการ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสหน่วยบริการ">
          <input nz-input formControlName="hospcode" name="hospcode" type="hospcode" id="hospcode">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="hospname">ชื่อหน่วยบริการ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อหน่วยบริการ">
          <input formControlName="hospname" nz-input id="hospname" type="text" name="hospname" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="zoneCode">โซน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="เลือกโซน">
          <nz-select style="width: 100%;" formControlName="zoneCode" id="zoneCode" name="zoneCode">
            <nz-option *ngFor="let zone of zones" [nzValue]="zone.code" [nzLabel]="zone.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="enabled">สถานะ</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox formControlName="enabled" id="enabled" name="enabled">เปิดใช้งาน</label>
        </nz-form-control>

      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>