<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>รายชื่อผู้ใช้งาน</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header style="background-color: white;" class="site-page-header" (nzBack)="onBack()" nzBackIcon
    nzTitle="ทะเบียนผู้ใช้งาน" nzSubtitle="รายชื่อผู้ใช้งานในระบบ">
    <nz-page-header-extra>
      <nz-space>
        <nz-select style="width: 220px;" ngModel="zoneCode" *nzSpaceItem id="zoneCode" name="zoneCode"
          (ngModelChange)="onChangeZone($event)">
          <nz-option nzValue="" nzLabel="ทุกโซน"></nz-option>
          <nz-option *ngFor="let zone of zones" [nzValue]="zone.code" [nzLabel]="zone.name"></nz-option>
        </nz-select>
        <button *nzSpaceItem nz-button disabled>ค้นหา...</button>
        <button *nzSpaceItem nz-button nzType="primary" (click)="openNewUserRegister()">+ เพิ่มผู้ใช้งาน</button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="inner-content">

    <nz-table #userTable nzSize="small" [nzData]="usersDataSet">
      <thead>
        <tr>
          <th>ชื่อผู้ใช้งาน</th>
          <th>ชื่อ - สกุล</th>
          <th>หน่วยบริการ</th>
          <th>โซน</th>
          <th>สถานะ</th>
          <th>เข้าใช้งานล่าสุด</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable.data">
          <td>{{data.username}}</td>
          <td>{{data.first_name}} {{data.last_name}}</td>
          <td>{{data.hospcode}} {{data.hospname}}</td>
          <td>{{data.zone_name}}</td>
          <td style="text-align: center;">
            <span *ngIf="data.enabled" nz-icon nzType="check-circle" nzTheme="outline" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></span>
            <span *ngIf="!data.enabled" nz-icon nzType="close-circle" nzTheme="outline" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#eb2f96'"></span>
          </td>
          <td>{{data.last_login}}</td>
          <td style="text-align: center;">
            <nz-button-group>
              <button nz-button nzType="default" nzTooltipTitle="แก้ไข"><span nz-icon nzType="edit"></span></button>
              <button nz-button nzType="default" disabled><span nz-icon nzType="area-chart"
                  nzTooltipTitle="ประวัติการใช้งาน"></span></button>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-content>

<app-modal-new-user #mdlNewUser (onSubmit)="onSubmitRegister($event)"></app-modal-new-user>