<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>ข้อมูลยาและเวชภัณฑ์</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header style="background-color: white;" class="site-page-header" (nzBack)="onBack()" nzBackIcon
    nzTitle="รายการยาและเวชภัณฑ์" nzSubtitle="รายการยาที่ใช้ในหน่วยบริการ">
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button (click)="search()">
          <span nz-icon nzType="search"></span>
          ค้นหา...</button>
        <button *nzSpaceItem nz-button (click)="refresh()">
          <span nz-icon nzType="reload"></span>
          รีเฟรช</button>
        <button *nzSpaceItem nz-button (click)="addItem()">
          <span nz-icon nzType="plus"></span>
          เพิ่ม</button>
        <nz-upload *nzSpaceItem [nzAction]="uploadUrl" [nzHeaders]="uploadHeader" (nzChange)="handleChange($event)"
          nzFileType="text/csv" [nzSize]="2048">
          <button nz-button nzType="primary">
            <span nz-icon nzType="upload"></span>
            อัปโหลดไฟล์
          </button>
        </nz-upload>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="inner-content">
    <nz-table nzShowPagination="false" [nzLoading]="loading" [nzData]="datasets" nzSize="small" [nzPageSize]="pageSize">
      <thead>
        <tr>
          <th>รหัส</th>
          <th>รายละเอียด</th>
          <th>TMT</th>
          <th>24 หลัก</th>
          <th>วันที่เพิ่มข้อมูล</th>
          <th>วันที่แก้ไขข้อมูล</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datasets">
          <td>{{data.code}}</td>
          <td>{{data.name}}</td>
          <td>{{data.tmt}}</td>
          <td>{{data.f43}}</td>
          <td>{{data.created_at}}</td>
          <td>{{data.updated_at}}</td>
          <td style="text-align: center;">
            <nz-button-group>
              <button nz-button nzType="default" (click)="editItem(data.code, data.name)"><span nz-icon
                  nzType="edit"></span></button>
              <button nz-button nzType="default" (click)="showMapping
              (data)"><span nz-icon nzType="apartment"></span></button>
              <button nz-button nzType="default" nz-popconfirm nzPopconfirmTitle="ลบรายการ ใช่หรือไม่?" nzOkText="ใช่"
                nzCancelText="ไม่ใช่" (nzOnConfirm)="confirmRemove(data.code)" (nzOnCancel)="cancelRemove()"><span
                  nz-icon nzType="delete"></span></button>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <br>
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
      [nzPageSizeOptions]="[20,50,100,500]" (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

  </div>
</nz-content>

<app-modal-search #mdlSearch (onSubmit)="onSearchSubmit($event)"></app-modal-search>

<app-modal-drug-new #mdlDrugNew (onSubmit)="onAddSubmit($event)"></app-modal-drug-new>
<app-modal-drug-mapping #mdlDrugMapping (onSubmit)="onMappingSubmit($event)"></app-modal-drug-mapping>

<ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>