<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="inner-content">

    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card>
          <div echarts [options]="userPiChartOption" style="height: 320px;"></div>
        </nz-card>
      </div>

      <div nz-col [nzSpan]="16">
        <nz-card>
          <div echarts [options]="userUsageChartOption" style="height: 320px;"></div>
        </nz-card>
      </div>
    </div>

    <br>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <nz-table #basicTable nzBordered nzSize="small" nzTitle="ประวัติการใช้งานล่าสุด" [nzData]="historyDataSet">
          <thead>
            <tr>
              <th>เวลา</th>
              <!-- <th>ชื่อผู้ใช้งาน</th> -->
              <th>หน่วยบริการ</th>
              <th>จำนวนเรคอร์ด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data.last_update}}</td>
              <!-- <td>{{data.username}}</td> -->
              <td>{{data.hospcode}} {{data.hospname}}</td>
              <td>
                {{data.total_records}}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-table #notSendData nzBordered nzSize="small" nzTitle="หน่วยบริการที่ไม่ส่งข้อมูล"
          [nzData]="hospitalNotSendDataSet">
          <thead>
            <tr>
              <th>หน่วยบริการ</th>
              <th>ส่งล่าสุด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of notSendData.data">
              <td>{{data.hospcode}} {{data.hospname}}</td>
              <td>{{data.last_update}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

  </div>
</nz-content>