<nz-modal [(nzVisible)]="isVisible" nzTitle="เปลี่ยนรหัสผ่าน" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="password">รหัสผ่านใหม่</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสผ่านใหม่">
          <input nz-input formControlName="password" name="password" type="password" id="password">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>