<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มรายการใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="code">รหัส</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสที่ใช้ในหน่วยบริการ">
          <input nz-input formControlName="code" name="code" type="code" id="code">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="usage1">วิธี 1</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="usage1" nz-input id="usage1" type="text" name="usage1" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="usage2">วิธี 2</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="usage2" nz-input id="usage2" type="text" name="usage2" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="usage3">วิธี 3</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="usage3" nz-input id="usage3" type="text" name="usage3" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>