<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มผู้ใช้งานใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="username">ชื่อผู้ใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อผู้ใช้งาน">
          <input nz-input formControlName="username" name="username" type="username" id="username">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="password">รหัสผ่าน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสผ่าน 4 ตัวอักษรขึ้นไป">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input formControlName="password" nz-input id="password" type="text" name="password" />
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button nzType="default" [disabled]="userId" (click)="randomPassword()">สุ่ม</button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="firstName">ชื่อ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="firstName" nz-input id="firstName" type="text" name="firstName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="lastName">สกุล</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="lastName" nz-input id="lastName" type="text" name="lastName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุอีเมล์">
          <input nz-input formControlName="email" name="email" type="email" id="email">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="zoneCode">โซน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="เลือกโซน">
          <nz-select style="width: 100%;" formControlName="zoneCode" id="zoneCode" name="zoneCode"
            (ngModelChange)="onChangeProvince($event)">
            <nz-option *ngFor="let zone of zones" [nzValue]="zone.code" [nzLabel]="zone.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="hospcode">หน่วยบริการ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="เลือกหน่วยงาน">
          <nz-select style="width: 100%;" id="hospcode" name="hospcode" formControlName="hospcode">
            <nz-option *ngFor="let item of hospitals" [nzValue]="item.hospcode" [nzLabel]="item.hospname"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="enabled">สถานะ</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox formControlName="enabled" id="enabled" name="enabled">เปิดใช้งาน</label>
        </nz-form-control>

      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>