<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มผู้ใช้งานใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (submit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="username">ชื่อผู้ใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อผู้ใช้งาน">
          <input nz-input formControlName="username" name="username" type="username" id="username">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="password">รหัสผ่าน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสผ่าน 4 ตัวอักษรขึ้นไป">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input formControlName="password" nz-input id="password" type="text" name="password" />
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button nzType="default" (click)="randomPassword()">สุ่ม</button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุอีเมล์">
          <input nz-input formControlName="email" name="email" type="email" id="email">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="provinceCode">จังหวัด</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="เลือกจังหวัด">
          <nz-select style="width: 100%;" formControlName="provinceCode" id="provinceCode" name="provinceCode">
            <nz-option nzValue="40" nzLabel="ขอนแก่น"></nz-option>
            <nz-option nzValue="44" nzLabel="มหาสารคาม"></nz-option>
            <nz-option nzValue="45" nzLabel="ร้อยเอ็ด"></nz-option>
            <nz-option nzValue="46" nzLabel="กาฬสินธุ์"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="hospcode">หน่วยบริการ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="เลือกหน่วยงาน">
          <nz-select style="width: 100%;" id="hospcode" name="hospcode" formControlName="hospcode">
            <nz-option nzValue="40" nzLabel="รพช.กันทรวิชัย"></nz-option>
            <nz-option nzValue="44" nzLabel="รพช.เชียงยืน"></nz-option>
            <nz-option nzValue="45" nzLabel="รพท.มหาสารคาม"></nz-option>
            <nz-option nzValue="46" nzLabel="รพศ.ร้อยเอ็ด"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="enabled">สถานะ</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox formControlName="enabled">เปิดใช้งาน</label>
        </nz-form-control>

      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>