<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มรายการใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="detail">รายละเอียด</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัส">
          <input nz-input formControlName="detail" name="detail" type="text" id="detail">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="f43">รหัส 43 แฟ้ม</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสที่ใช้ใน 43 แฟ้ม">
          <input nz-input formControlName="f43" name="f43" type="text" id="f43">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="nhso">รหัสสปสช.</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสที่ใช้ในสปสช.">
          <input formControlName="nhso" nz-input id="nhso" type="text" name="nhso" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>