<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มรายการใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="code">รหัส</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสที่ใช้ในหน่วยบริการ">
          <input nz-input formControlName="code" name="code" type="code" id="code">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="prename">คำนำหน้า</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุคำนำหน้า">
          <input formControlName="prename" nz-input id="prename" type="text" name="prename" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="cid">เลขบัตรประชาชน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุเลขบัตรประชาชน">
          <input formControlName="cid" nz-input id="cid" type="text" name="cid" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="fname">ชื่อ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="fname" nz-input id="fname" type="text" name="fname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="lname">สกุล</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุสกุล">
          <input formControlName="lname" nz-input id="lname" type="text" name="lname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="birth">วันเกิด</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุวันเกิด">
          <nz-date-picker formControlName="birth" id="birth" name="birth"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="provider_type">เพศ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุประเภทผู้ให้บริการ">
          <nz-select formControlName="sex" name="sex" id="sex">
            <nz-option *ngFor="let s of sex" [nzValue]="s.code" [nzLabel]="s.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="provider_type">ประเภทผู้ให้บริการ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุประเภทผู้ให้บริการ">
          <input formControlName="provider_type" nz-input id="provider_type" type="text" name="provider_type" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="register_no">เลขทะเบียน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุเลขทะเบียน">
          <input formControlName="register_no" nz-input id="register_no" type="text" name="register_no" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="start_date">วันเริ่มทำงาน</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker formControlName="start_date" id="start_date" name="start_date"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="end_date">วันทำงานสุดท้าย</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker formControlName="end_date" id="end_date" name="end_date"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>