<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false"
  nzTitle="เพิ่มรายการใหม่" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="labDetail">รายละเอียด</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัส 24 หลัก">
          <input nz-input formControlName="labDetail" name="labDetail" type="text" id="labDetail">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="f43">รหัส 43 แฟ้ม</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัส 43 แฟ้ม">
          <input nz-input formControlName="f43" name="f43" type="text" id="f43">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="loinc">รหัส loinc</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="loinc" nz-input id="loinc" type="text" name="loinc" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>